<li class="product_description_content_list paper-texture" id="paper-texture" v-if="productData && paperData" v-once>
    <paper :paper_data="getPaperDataById(paper.id)" :paper_option="paper.option"
        v-for="(paper, index) in productData.paper" :key="paper.id" :paper_index="index">
    </paper>
</li>

<template id="paper-texture-template">
    <div class="paper-texture_item_outer">
        <a class="paper-texture_item" @click="isPopup($event)">
            <div class="paper-texture_item_image"></div>
            <div class="paper-texture_item_content">
                <h5 class="paper-texture_item_content-title">{{ paper_data.name }}</h5>
                <div class="paper-texture_item_content-content">
                    {{ allWeight }}<br>{{ paper_data.introduction }}<br>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mouse" width="40" height="58" viewBox="0 0 40 58">
                        <g fill="#dab982" fill-rule="evenodd">
                            <polygon fill-rule="nonzero" points="38.275 23 9.045 23 9.045 25 38.275 25" />
                            <polygon fill-rule="nonzero" points="22.667 10.139 22.667 23.5 24.667 23.5 24.667 10.139" />
                            <path fill-rule="nonzero"
                                d="M23.66,55.3612689 C31.1635892,55.3612689 37.2751259,49.7250913 37.2751259,42.8664131 L37.2751259,23.5804576 C37.2751259,16.7673171 31.1551908,11.1387311 23.66,11.1387311 C16.1648092,11.1387311 10.0448741,16.7673171 10.0448741,23.5804576 L10.0448741,42.9195424 C10.0448741,49.7326829 16.1648092,55.3612689 23.66,55.3612689 Z M23.66,57.3612689 C15.0958825,57.3612689 8.04487413,50.8763623 8.04487413,42.9195424 L8.04487413,23.5804576 C8.04487413,15.6236377 15.0958825,9.13873106 23.66,9.13873106 C32.2241175,9.13873106 39.2751259,15.6236377 39.2751259,23.5804576 L39.2751259,42.8664131 C39.2751259,50.8674505 32.2336144,57.3612689 23.66,57.3612689 Z" />
                            <path class="mouse-large-click" fill-rule="nonzero"
                                d="M2.37820747,21.1259121 C2.37820747,11.5705676 12.1430608,2.63873106 22.9266667,2.63873106 L22.9266667,0.638731061 C11.0763312,0.638731061 0.378207465,10.4242229 0.378207465,21.1259121 L2.37820747,21.1259121 Z" />
                            <path class="mouse-click"
                                d="M9.64178282,24.1387311 C9.64178282,24.1387311 8.4864369,9.65181073 24.0836068,10.1513597 C24.0836068,14.1477515 24.0836068,23.6391821 24.0836068,23.6391821 L24.0836068,24.1387311 L9.64178282,24.1387311 Z" />
                        </g>
                    </svg>
                </div>
            </div>
        </a>
        <div class="paper-texture_item_popup" :style="{ 'margin-left': popupMarginLeft }">
            <div class="paper-texture_item_popup_inner">
                <h2 class="paper-texture_item_popup_title">{{ paper_data.name }}</h2>
                <div class="paper-texture_item_popup_subTitle">{{ paper_data.introduction }}</div>
                <div class="paper-texture_item_popup_information">
                    <table>
                        <thead>
                            <tr>
                                <th>紙張種類</th>
                                <th>適用基重</th>
                                <th>紙張厚度</th>
                                <th>備註</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-for="(item, index) in paper_option">
                                <tr>
                                    <td>{{ paper_data.name + ' ' + getOptionName(allOptions[index]) }}</td>
                                    <td>{{ item.w[0] }}</td>
                                    <td>{{ getOptionQuality(allOptions[index], item.w[0]) }}</td>
                                    <td>{{ getOptionIntro(allOptions[index]) }}</td>
                                </tr>
                                <tr v-for="(subItem, subIndex) in item.w" :key="subIndex" v-if="subIndex!=0">
                                    <td></td>
                                    <td>{{ subItem }}</td>
                                    <td>{{ getOptionQuality(allOptions[index], subItem) }}</td>
                                    <td></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="paper-texture_item_popup_back" @click="noPopup($event)">
                <i class="fa-solid fa-xmark" style="color: #dab982;"></i>
            </button>
        </div>
    </div>
</template>