<div class="orderSOP">
  <div class="orderSOP_inner flex" id="ordering">
    <div class="orderSOP_line">
      <div class="orderSOP_line-highlight" id="highlight"></div>
    </div>
    <div class="step" id="become-a-member" data-theme="become-a-member">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step1.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 1</div>
      <div class="step_title">加入會員</div>
    </div>
    <div class="step" id="prepayment" data-theme="prepayment">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step2.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 2</div>
      <div class="step_title">預繳付款</div>
    </div>
    <div class="step" id="download-sample-file" data-theme="download-sample-file">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step3.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 3</div>
      <div class="step_title">下載樣本檔</div>
    </div>
    <div class="step" id="order-online" data-theme="order-online">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step4.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 4</div>
      <div class="step_title">線上下單</div>
    </div>
    <div class="step" id="reviewing" data-theme="reviewing">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step5.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 5</div>
      <div class="step_title">進行審稿</div>
    </div>
    <div class="step" id="home-delivery" data-theme="home-delivery">
      <div class="step_pic">
        <img src="/Image/index/OrderSOP/Step6.png" alt="orderSOP Step1">
      </div>
      <div class="step_pro">
      </div>
      <div class="step_subTitle">Step 6</div>
      <div class="step_title">貨運到府</div>
    </div>
  </div>
</div>