<div class="priceCount_selectBox">
    <h4 class="priceCount_title">線上查價</h4>
    <ul class="priceCount_selectBox_list">
      <li class="category">
        <!-- <h5 class="category_title">商品分類</h5> -->
        <div class="category_dropdown">
          <div class="category_dropdown_select">
            <span>產品分類</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_productCategory-origin">
            <option value="card">01.名片合版</option>
            <option value="card">02.貼紙系列</option>
            <option value="card">03.海報合版</option>
            <option value="card">04.單獨開版</option>
            <option value="card">05.數位印刷</option>
            <option value="card">06.750數位印刷</option>
            <option value="card">07.雞尾酒工法類</option>
            <option value="card">08.自備紙代工印刷</option>
            <option value="card">09.信封類</option>
            <option value="card">10.手提袋</option>
            <option value="card">11.資料夾</option>
            <option value="card">12.卡牌、桌遊</option>
            <option value="card">13.明信片</option>
            <option value="card">14.墊板</option>
            <option value="card">15.邀卡請帖</option>
            <option value="card">16.扇子</option>
            <option value="card">17.年月曆系列</option>
            <option value="card">18.便條紙</option>
            <option value="card">19.廣告商品</option>
            <option value="card">20.書籍型錄</option>
            <option value="card">21.聯單、票券</option>
            <option value="card">22.彩噴商品</option>
            <option value="card">23.寫真書</option>
            <option value="card">24.筆記本</option>
            <option value="card">25.餐飲用品</option>
          </select>

          <div class="category_dropdown_select">
            <span>產品名稱</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_productName-origin">
            <option value="card">彩色名片</option>
            <option value="card">雞尾酒貼紙</option>
            <option value="card">厚版平裝蝴蝶書（故事書）</option>
          </select>
        </div>
      </li>
      <li class="category">
        <!-- <h5 class="category_title">紙張材質</h5> -->
        <div class="category_dropdown">
          <div class="category_dropdown_select">
            <span>紙張材質</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_paperTexture1-origin">
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
          </select>

          <div class="category_dropdown_select">
            <span>紙張材質</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_paperTexture2-origin">
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
          </select>

          <div class="category_dropdown_select">
            <span>紙張材質</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_paperTexture3-origin">
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">單絲絨_韓國一級卡250P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
            <option value="card">日本一級卡260P</option>
            <option value="card">日本一級卡310P</option>
            <option value="card">韓國一級卡260P</option>
            <option value="card">韓國一級卡310P</option>
          </select>
        </div>
      </li>
      <li class="category">
        <!-- <h5 class="category_title">尺寸數量</h5> -->
        <div class="category_dropdown">
          <div class="category_dropdown_select">
            <span>尺寸</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_productSize-origin">
            <option value="card">A4</option>
            <option value="card">A3</option>
            <option value="card">5K</option>
          </select>

          <div class="category_dropdown_select">
            <span>數量</span>
          </div>
          <select class="category_dropdown_menu-origin" id="priceCount_productQuantity-origin">
            <option value="card">2盒</option>
            <option value="card">5盒</option>
            <option value="card">10盒</option>
            <option value="card">200盒</option>
          </select>
      </li>
    </ul>
  </div>
  <div class="priceCount_result">
    <div class="priceCount_result_inner">
      <div class="priceCount_result_product">
        <div class="priceCount_result_product-subTitle">
          01.名片合版
        </div>
        <div class="priceCount_result_product-title">
          彩色名片
        </div>
        <div class="priceCount_result_product-content">
          日本一級卡260P, 日本一級卡260P, A4, 200盒
        </div>
        <div class="priceCount_result_product-img">
          <!-- <img src="/Image/product/productImage/ci0101.jpg" alt="彩色名片" width="300" height="225"> -->
        </div>
        <div class="priceCount_result_product-url"><a href="/Product/Products.html">更多產品資訊<i
              class="fa-solid fa-arrow-right fa-sm"></i></a></div>
      </div>

      <div class="priceCount_result_price">
        <h5 class="priceCount_result_price-title">參考報價</h5>
        <p>＄<span class="priceCount_result_price-price">3142</span></p>
      </div>
    </div>
  </div>