$sign-in-up-W: 900px;
$sign-in-up-H: 550px;
$sign-in-up_img-W: 260px;
$sign-in-up_input-W: 300px;
$sign-in-up_form-W: $sign-in-up-W - $sign-in-up_img-W;

@mixin signUpActive {
    .sign-in-up.s--signup & {
        @content;
    }
}

.sign-in-up {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: $normal-shadow;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background-color: $main-bg-color;
    width: $sign-in-up-W;
    height: $sign-in-up-H;
    min-width: 300px;
    min-height: 180px;
    transition: $slow-transition;
    border-radius: 20px;

    &_bottom {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $primary-bg-color;
        visibility: hidden;
        opacity: 0;
        z-index: 90;
        transition: $slow-transition;

        &.open {
            visibility: visible;
            opacity: 1;
        }
    }

    &_outer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        position: relative;
        border-radius: 20px;
    }

    &_inner {
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 20px;

        .sign-in {
            transition-timing-function: ease-out;

            @include signUpActive {
                transition-timing-function: ease-in-out;
                transition-duration: .8s;
                transform: translate3d($sign-in-up_form-W, 0, 0);
            }
        }

        .sign-up {
            transform: translate3d($sign-in-up-W*-1, 0, 0);

            @include signUpActive {
                transform: translate3d(0, 0, 0);
            }
        }
    }
    &_outer-button{
        position: absolute;
        top: -50px;
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        box-shadow: $normal-shadow;
        
        &:hover {
            cursor: pointer;
            transform: translateY(-0.3rem) scale(1.0125);
            box-shadow: 0px 10px 20px rgba(199, 177, 177, 0.4);
        }
    }
    &_close {
        right: -50px;
        color: $dark-bg-text-color;
        transition: $quick-transition, background 0.5s ease .8s, color 0.5s ease .8s;
        background-color: #0c123a;
        i{
            position: absolute;
            right: -15px;
            transition: $quick-transition;
        }

        &:hover{
            i{
                right: -25px;
            }
        }

        @include signUpActive {
            background-color: $main-bg-color;
            color: $sub-main-text-color;
            transition: $slow-transition, background 0.5s ease, color 0.5s ease;
        }
    }

    &_back {
        left: -50px;
        color: $sub-main-text-color;
        transition: $quick-transition;
        background-color: $main-bg-color;
        visibility: hidden;
        opacity: 0;

        i{
            position: absolute;
            left: -15px;
            transition: $quick-transition;;
        }

        &:hover{
            i{
                left: -25px;
            }
        }
    }

    &_form {
        position: relative;
        width: $sign-in-up_form-W;
        height: 100%;
        transition: transform .8s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 80px;
    }

    &_forget {
        background-color: $main-bg-color;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    &_switch-block {
        overflow: hidden;
        position: absolute;
        left: $sign-in-up_form-W;
        top: 0;
        width: $sign-in-up-W;
        height: 100%;
        padding-left: $sign-in-up_img-W;
        background: $main-bg-color;
        transition: transform .8s ease-in-out;

        @include signUpActive {
            transform: translate3d($sign-in-up_form-W * -1, 0, 0);
        }

        &_img {
            overflow: hidden;
            z-index: 91;
            position: absolute;
            left: 0;
            top: 0;
            width: $sign-in-up_img-W;
            height: 100%;
            padding-top: 360px;

            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: $sign-in-up-W;
                height: 100%;
                background-image: url('/Image/menu/1061215_公司照-01.jpg');
                background-size: cover;
                transition: transform .8s ease-in-out;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
            }

            @include signUpActive {
                &:before {
                    transform: translate3d($sign-in-up_form-W, 0, 0);
                }
            }

            &-text {
                z-index: 92;
                position: absolute;
                left: 0;
                top: 60px;
                width: 100%;
                padding: 0 20px;
                text-align: center;

                transition: transform .8s ease-in-out;

                h5 {
                    margin-bottom: 10px;
                    font-weight: normal;
                    color: $dark-bg-text-color;
                }

                p {
                    font-size: 14px;
                    line-height: 1.5;
                    color: $dark-bg-text-color;
                }
            }

            .switch-block-up {
                @include signUpActive {
                    transform: translateX($sign-in-up-W);
                }
            }

            .switch-block-in {
                transform: translateX($sign-in-up-W*-1);

                @include signUpActive {
                    transform: translateX(0);
                }
            }

            &_button {
                overflow: hidden;
                z-index: 91;
                position: relative;
                top: 60px;
                width: 100px;
                height: 36px;
                margin: 0 auto;
                background: transparent;
                color: $dark-bg-text-color;
                font-size: $mid-font-size;
                cursor: pointer;

                &:after {
                    content: '';
                    z-index: 91;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $dark-bg-text-color;
                    border-radius: 30px;
                }

                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    transition: transform .8s;
                    cursor: pointer;
                    color: $dark-bg-text-color;
                }

                .switch-block-in {
                    transform: translateY($sign-in-up-W*-2);

                    @include signUpActive {
                        transform: translateY(0);
                    }
                }

                .switch-block-up {
                    @include signUpActive {
                        transform: translateY($sign-in-up-W*2);
                    }
                }
            }
        }
    }

    h4 {
        width: 100%;
        font-size: $large-font-size;
        font-weight: 600;
    }

    label {
        display: block;
        width: $sign-in-up_input-W;
        display: flex;
        flex-direction: column;

        p {
            text-align: left;
            font-size: $mid-font-size;

            span {
                color: $main-color;
            }
        }

        input {
            text-align: left;
            border: none;
            outline: none;
            background: none;
            display: block;
            width: 100%;
            margin-top: 5px;
            padding: 0 0 5px;
            font-size: $mid-font-size;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
    }

    &_forgot-password {
        margin: 0 0 10px;
        text-align: center;
        font-size: $main-font-size;
        cursor: pointer;
    }

    &_submit {
        width: $sign-in-up_img-W;
        height: 50px;
        background: $primary-color;
        color: $dark-bg-text-color;
        margin: 20px 0 0;
        border-radius: 5px;

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.open {
        visibility: visible;
        opacity: 1;

        img {
            opacity: 1;
        }
    }
}